antiguo/vision_15_02_05/pipeline.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
TODO: esta DTD está incompleta, lo de conexion/ sale mal
DTD para los archivos descriptores de un pipeline
-->

<!ELEMENT pipeline (modulo+, conexion*)>
<!ELEMENT modulo (argumento*)>
<!ELEMENT argumento (#PCDATA)>
<!ELEMENT conexion EMPTY>
<!ATTLIST conexion origen CDATA #REQUIRED
                   destino CDATA #REQUIRED>
<!ATTLIST modulo ruta CDATA #REQUIRED
                 nombre CDATA #REQUIRED>
<!ATTLIST argumento tipo CDATA #REQUIRED>
